<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car List Parse</title>
</head>
<body>

<center>
    {% for i in object_list %}

    <img src="{{i.image}}" alt="" width="300" height="400">
    <h1>{{i.title_text}}</h1>
    <p>
        <a href="{{i.title_url}}">Подробнее о машине</a>
    </p>
    <hr>
    <hr>
    {% endfor %}
</center>

</body>
</html>