{% include 'tvshow/header.html' %}
<center>
    <div class="card" style="...">
        <div class="card-body">
            <h4 class="card-title">{{ object.title }}</h4>
            <img src="{{ object.image.url }}" alt="">
            <p class="card-text">{{ object.country }}</p>
            <p class="card-text">{{ object.director }}</p>
            <p class="card-text">{{ object.genre }}</p>
            <p class="card-text">{{ object.starring }}</p>
            <p class="card-text">{{ object.description }}</p>
            <a href="{{ object.url_film }}">{{ tvshow_id.url_film }}</a>
            <p class="card-text">{{ object.created_at }}</p>

            {% for i in object.comment_object.all %}
                <table border="1" cellpadding="5" cellspacing="5">
                    <tr>
                        <th>Оценка к фильму:</th>
                        <th>Дата оценки:</th>
                    </tr>
                    <tr>
                        <td>{{ i.Text }}</td>
                        <td>{{ i.Created_at }}</td>
                    </tr>
                </table>
                <hr>
            {% endfor %}
            {% for l in object.reviews.all %}
                <table border="1" cellpadding="5" cellspacing="5">
                    <tr>
                        <th>Комментария:</th>
                        <th>Оценка:</th>
                        <th>Дата оценки:</th>
                    </tr>
                    <tr>
                        <td>{{ l.comment }}</td>
                        <td>{{ l.rate }}</td>
                        <td>{{ l.created_date }}</td>
                    </tr>
                </table>
                <hr>
            {% endfor %}
            <button><a href="/films_detail/{{ object.id }}/delete/">Удалить</a></button>
            <button><a href="/films_detail/{{ object.id }}/update/">Изменить</a></button>


        </div>
    </div>
</center>
{% include 'tvshow/footer.html' %}
