{% include 'tvshow/header.html' %}
<center>
    <h1></h1>
    {% for i in object_list %}
        <div class="card" style="...">
            <img src="{{ i.image.url }}" class="card-img-top" alt="..." width="150" height="150">
            <div class="card-body">
                <h3 class="card-title">{{ i.title }}</h3>
                <p class="card-text">{{ i.genre }}</p>
                <a href="/tvshow/{{ i.id }}">Подробнее.....</a>
            </div>
        </div>


    {% endfor %}
</center>
{% include 'tvshow/footer.html' %}