<!DOCTYPE html>
<html>
<head>
    <title>Crud Forms</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">submit</button>
</form>
</body>
</html>