<head>
    <title>Комментария к фильмам</title>
</head>
<body>
<div>
    <h3>Добавить комментарию</h3>
    <form class="decor" action="/reviews/" method="post" enctype="multipart/form-data">
        <div class="form-left-decoration"></div>
        <div class="form-right-decoration"></div>
        <div class="circle"></div>
        <div class="form-inner">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Добавить">
            <hr>
        </div>
    </form>
</div>