{% include 'book/header.html' %}

<body>

<a href="" class="pressed-button">Button</a>


{% for i in book %}
    <h1>{{i.title}}</h1>
    <img src="{{i.image.url}}" alt="">
    <p>{{i.description}}</p>
    <p>{{i.cost}}</p>
    <p>{{i.color}}</p>
    <p>{{i.created_at}}</p>
{% endfor %}

</body>
</html>
{% include 'book/header.html' %}